<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".main.SceneMainActivity"
            android:exported="false"
            android:label="@string/title_activity_scene_main" />

        <activity
            android:name=".detail.SceneDetailActivity"
            android:exported="false"
            android:label="@string/add_scene" />

        <activity
            android:name=".cond.WeatherListActivity"
            android:exported="false"
            android:label="@string/weather_list" />

        <activity
            android:name=".act.LinkageChooseListActivity"
            android:exported="false"
            android:label="@string/choose_linkage" />
    </application>

</manifest>