<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.lock.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application>

        <activity
            android:name="com.tuya.lock.demo.ble.activity.BleLockDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.MemberListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.ConnectStateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.BleSwitchLockActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.BleLockRecordsActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.LockSettingActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordMainActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordDynamicActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordProListActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordProOfflineAddActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.OpModeListActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordOldOfflineListActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordOldOfflineAddActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordProOfflineRevokeActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordOldOfflineAddRevokeActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordOldOnlineListActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordSingleRevokeListActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.BleLockProRecordsActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.VoiceSettingActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordLockDeviceConfigActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.OpModeDetailActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordProOnlineDetailActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.PasswordOldOnlineDetailActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.MemberTimeActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.MemberDetailActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.ShowCodeActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.OpModeUnboundListActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.MemberSelectListActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.DeleteDeviceActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.ble.activity.DpSettingActivity"
            android:exported="false" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.DeviceDetail"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.AlarmRecordListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.DoorRecordListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.MemberDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.MemberListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.OpModeDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.OpModeListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.OpModeUnboundListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.PasswordUpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.PasswordDynamicActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.PasswordDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.PasswordListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.LockSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.VoiceSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.PasswordInvalidListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.zigbee.activity.MemberSelectListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.wifi.activity.WifiDeviceDetail"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.wifi.activity.DoorRecordListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.wifi.activity.PasswordDynamicActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.wifi.activity.AlarmRecordListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.wifi.activity.PasswordListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.wifi.activity.PasswordDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.wifi.activity.MemberListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.wifi.activity.MemberDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.wifi.activity.OpModeDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.video.activity.VideoDeviceDetail"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.video.activity.LogRecordListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tuya.lock.demo.video.activity.LogRecordDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".wifi.activity.GoogleVoiceSettingActivity"
            android:exported="false"/>
    </application>
</manifest>